@model MHome.Web.ViewModels.ProfileViewModels.DetailsProfileViewModel

@{
    ViewData["Title"] = "Bought Accessories";
}

<h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Bought Accessories</h1>

<div class="table table-responsive">
    <table class="table" style="text-align:left">
        <thead>
            <tr class="table-info" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            @foreach (var item in Model.BoughtAccessories.OrderByDescending(ba => ba.Price))
            {
                <tr name="trData">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceWithDiscount)$
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
</p>

<div class="mt-4 mb-4 justify-content-md-center">
    <a class="btn btn-dark" asp-action="Main">Back</a>
</div>