@model ICollection<MHome.Web.ViewModels.FurnitureViewModels.ListCategoriesOnFurnitureViewModel>

@{
    ViewData["Title"] = "Add Furniture";
}

<h1>Add Furniture</h1>

<h4>Furniture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input id="Name" name="Name" class="form-control" type="text" required="true"/>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input id="Description" name="Description" class="form-control" type="text" required="true" />
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <input id="Price" name="Price" class="form-control" type="number" step="0.01" />
            </div>
            <div class="form-group">
                <label for="ImageURL" class="control-label">Image URL</label>
                <input id="ImageURL" name="ImageURL" class="form-control" type="text" required="true" />
            </div>
            <div class="form-group">
                <label for="Dimensions" class="control-label">Dimensions</label>
                <input id="Dimensions" name="Dimensions" class="form-control" type="text" required="true" />
            </div>
            <div class="form-group">
                <label for="StockQuantity" class="control-label">StockQuantity</label>
                <input id="StockQuantity" name="StockQuantity" class="form-control" type="text" required="true" />
            </div>
            <div class="form-group">
                <label for="CategoryId" class="control-label">Category</label>
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                   @foreach (var item in Model)
                   {
                       <option value="@item.Id">@item.Name</option>
                   }
                </select>
            </div>  
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="All">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
