@model MHome.Web.ViewModels.FurnitureViewModels.EditFurnitureViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Edit Furniture</h1>

<h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Furniture</h4>

<hr />

<div class="row" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimensions" class="control-label"></label>
                <input asp-for="Dimensions" class="form-control" />
                <span asp-validation-for="Dimensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CategoryId" class="control-label">Category</label>
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a class="btn btn-dark" asp-action="All">Back</a>
            </div>
        </form>
    </div>

@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
