@model MHome.Data.Models.ClientCard

@{
    ViewData["Title"] = "Create";
}

<h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Generate your card</h1>

<img class="img-thumbnail mx-auto mt-6" style="width: 500px" src="https://canadabuzz.ca/wp-content/uploads/2021/06/credit-card-3186083_1280-2-595x335.png" alt="M-Home">

<div class="row" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <input type="submit" value="Generate" class="btn btn-dark" />
                <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {     
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");     
    }
 }
