@using MHome.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <h1 class="display-6">Welcome to @GlobalConstants.SystemName</h1>
    <p></p>
    <img src="/img/M-Home.jpg" class="img-fluid" alt="M-Home">
</div>
