@using MHome.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <h1 class="display-6">WELCOME TO @GlobalConstants.SystemName</h1>
    <p></p>
    <img src="/img/M-Home.jpg" class="img-fluid" alt="M-Home">
</div>

@if (User.Identity.IsAuthenticated)
{
 <div class ="text-center mt-4">
    <h1 class ="display-6">GET YOU CLIENT CARD FOR DISCOUNTS</h1>
    <p></p>
    <a class="btn btn-dark" asp-controller="ClientCard" asp-action="Create">GET CLIENT CARD</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
    </svg>
 </div>
}    
